absl-py
aiohappyeyeballs
aiohttp
aiosignal
appnope
asttokens
astunparse
async-timeout
attrs
blinker
Brotli
cached-property
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
comm
contourpy
cryptography
cycler
dataclasses
datasets
debugpy
decorator
dill
dm-tree
etils
exceptiongroup
executing
Farama-Notifications
filelock
flatbuffers
fonttools
frozenlist
fsspec
gast
gmpy2
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
gymnasium
h2
h5py
hpack==4.0.0
huggingface_hub
hyperframe
idna
importlib_metadata
importlib_resources
ipykernel
ipython
jax-jumpy
jedi
Jinja2
joblib
jupyter_client
jupyter_core
keras
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mpmath
multidict
multiprocess
munkres==1.1.4
nest_asyncio
networkx
numpy
oauthlib
opt-einsum
packaging
pandas
parso
patsy
pexpect
pickleshare
Pillow
platformdirs
promise
prompt_toolkit
protobuf==4.21.12
psutil
ptyprocess
pure_eval
pyarrow==11.0.0
pyarrow-hotfix
pyasn1
pyasn1_modules
pycparser
Pygments
PyJWT
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytz
pyu2f
PyYAML
pyzmq
regex
requests
requests-oauthlib
rsa
sacremoses
scikit-learn
scipy
seaborn
six
stack-data
statsmodels
sympy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow==2.11
tensorflow-datasets
tensorflow-estimator
tensorflow-metadata
termcolor
threadpoolctl
tokenizers
toml
torch==2.2.2
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
unicodedata2
urllib3
wcwidth
Werkzeug
wrapt
xxhash
yarl
zipp
zstandard==0.23.0
